.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 20px;
    color: darkslategrey;
}

.lobbyDisplayContainer {
    display: flex;
    margin-bottom: 50px;
}

.lobbyDisplay {
    padding: 30px;
}

.roomContainer {
    display: flex;
    align-items: center;
}

.roomName {
    margin-right: 30px;
}

.roomNameInput {
    margin-bottom: 20px;
}

.button {
    background-color: burlywood;
    font-family: 'Amarante';
    color: darkslategrey;
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
}