.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 54px;
    margin: 20px;
}

.loginLabel {
    font-size: 34px;
    margin: 20px;
}

#username {
    margin-bottom: 20px
}